@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.menu{
    display: grid;
    width: 90%;
    height: 50px;
    grid-template-columns: repeat(12,1fr);
    margin: 0px auto;
}
.logo{
    grid-column: 1/5;
    margin: 20px;
    color: #6C63FF;
    font-size: 28px;
}
.section{
    grid-column: 6/13;
    display: flex;
    justify-content: flex-end;
}
.barra{
margin: 20px;
}
.contacto{
    background:#6C63FF;
    color: white;
    text-align: center;
    padding: 5px 0 ;
    text-decoration: none;
    border:5px solid #6C63FF;

}
.barra:hover{
    background-color: #6C63FF;
    color: #ffffff;
    

}
.contacto:hover{
background-color: #6e7dff;
color: #000;

}
@media screen and (max-width:780px){
    .menu{
        height: 120px;
        margin: 10px auto;
        width: 90%;
    }
.logo{
    grid-column: 1/-1;
    text-align: center;
    color: #ffffff;
    background: #6C63FF;
    border: 10px solid #6C63FF;
}
.section{
    grid-column: 1/-1;
    justify-content: space-around;
}

}
/* layout */
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}
.titulo{
    font-size: 35px;
}
.parrafo{
        margin-bottom: 20px;    
    }
.header {
    height: 500px;
}
.img-svg{
width: 95%;
height: auto;
grid-column: 7/13;
}
.img{
    width: 100%;
    max-width: 600px;
}
.textos-hero{
    grid-column: 1/7;
    padding-right: 20px;
    color:black;

}
.textos-hero p{
    text-align: justify;
}
.texto-kuntur{
    color: #6C63FF;
}
.cta{
    width: 130px;
    background:#6C63FF;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 0 ;
    text-decoration: none;

}
/* el hover es un pseudoclase que cambia las caracteristicas al mover el puntero */
.cta:hover{
background-color: #6e7dff;
color: #000;

}
@media screen and (max-width:780px){
.textos-hero{
    grid-column: 1/-1;
    margin: 20px auto;
}
.img-svg{
    grid-column: 2/12;
    margin: auto;
    width: 80%;
}

}
/* mision */
.mision{
width: 90%;
margin: auto;
display:grid;
grid-template-columns: repeat(12,1fr);
gap: 20px;
max-width: 1100px;

}
.description{
    grid-column: 1/7;

}
.imagen{
    grid-column: 7/13;
}
.imagen img{
    width: 90%;
    height: auto;
}
@media screen and (max-width:780px){
.description{
    grid-column: 1/-1;
    margin: auto;
}

.imagen{
    grid-column: 2/13;
    margin: auto;

}

} 
/* integrantes */
.integrantes{
   width: 90%;
   display: flex;
   margin: 20px auto;
   justify-content: space-around;
   height: auto;
   /* esto me ayuda aque tome el tamaño real de la caja */
   flex-wrap: wrap;
}
.card{
width:  280px;
height: 340px;
margin: 20px;

}
.card:hover{
    border-radius: 1em;
 border: 2px solid #6C63FF;
    box-shadow: 7px 7px 0px 0px #6C63FF;

}

.face{
    grid-row: 1/3;
    width: 80%;
    margin: 10px auto;
   
}
.face img{
    width: 100%;
    
}
.descripcion{
    grid-column: 1/-1;
    grid-row: 3/5;
    width: 80%;
    margin: auto;
    height: 200px;

}
/* icons */
.descripcion i {
    color:#000;
    font-size: 30px;
    margin: 3px;
    
}
.icons{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-around;

}
.descripcion i:hover{
color: #6C63FF;

}
/* proyectos */
.proyectos{
width: 90%;
margin: auto;
display: grid;
grid-template-columns: repeat(12,1fr);
max-width: 1100px;

}

.proyectos img{
    grid-column: 1/13;
    width: 80%;
    margin: 10px auto;
    border: 5px solid #6C63FF;
}
.descript_p{
    width: 80%;
    grid-column: 1/13;
    margin: 10px auto;
}
/* pie de pagina */
.pie{
    background: #6C63FF;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}


